body {
    background-color: #f8f9fa;
}

.input-box,
.box-btns {
    width: 180px !important;
}

.app-input{
    text-align: center;
    width: 100px !important;
}

.cursor-pointer {
    cursor: pointer;
}